@page "/basket"
@using OnlineShop.Application.Basket
@inject BasketService BasketService;
<div class="wrap cf">
    <h1 class="projTitle">Корзина</h1>
    <div class="heading cf">
        <a href="/catalog" class="continue">Продолжить покупки</a>
    </div>
    @if (_shoppingCart != null)
    {
        <div class="cart">
            @foreach (var item in _shoppingCart.Items)
            {
                <ul class="cartWrap">
                    <li class="items odd">
                        <div class="infoWrap">
                            <div class="cartSection">
                                <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg"/>
                                <p class="itemNumber"></p>
                                <h3>@item.ProductName</h3>
                                <p class="stockStatus"> In Stock</p>
                            </div>
                            <div class="prodTotal cartSection">
                                <p>@item.Price</p>
                            </div>
                            <div class="cartSection removeWrap">
                                <a href="#" class="remove">x</a>
                            </div>
                        </div>
                    </li>

                </ul>
            }
        </div>
        <div class="subtotal cf">
            <p class="totalRow final">
                <span class="label">Сумма</span><span class="value"> @_shoppingCart.Total</span>
            </p>
            <p class="totalRow">
                <a href="#" class="btn continue">Оформить заказ</a>
            </p>
        </div>
    }
    else
    {
        <h3 class="heading"> Корзина пуста </h3>
    }
</div>

@code {
    private ShoppingCart? _shoppingCart;

    protected override void OnInitialized()
    {
        _shoppingCart = BasketService.GetBasket();
    }

}