@page "/catalog"
@using OnlineShop.Application.Catalog
@using OnlineShop.Application.Basket
@inject CatalogService CatalogService;
@inject BasketService BasketService;

<h3>Catalog</h3>
@foreach (var product in _products)
{
    <div class="card">
        <div class="card__body">
            <div class="half">
                <div class="featured_text">
                    <h1>@product.Name</h1>
                    <p class="sub">@product.Category</p>
                    <p class="price">$@product.Price</p>
                </div>
                <div class="image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/613A7vcgJ4L._SL1500_.jpg" alt="">
                </div>
            </div>
            <div class="half">
                <div class="description">
                    <p>@product.Description</p>
                </div>
            </div>
        </div>
        <div class="card__footer">
            <div class="recommend">
                <p>@product.Summary</p>
            </div>
            <div class="action">
                <button type="button" @onclick="() => AddToBasketAsync(product)">Добавить в корзину</button>
            </div>
        </div>
    </div>
}


@code {
    private Product[]? _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await CatalogService.GetCatalog();
    }

    private async Task AddToBasketAsync(Product product)
    {
        Console.WriteLine(product.Category);
        await BasketService.AddToBasketAsync(new ShoppingCartItem
        {
            Price = product.Price,
            Quantity = 1,
            ProductId = product.Id,
            ProductName = product.Name,
        });
    }

}