@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using OnlineShop.Services.Basket
@inject ProtectedLocalStorage ProtectedLocalStore
@inject BasketService BasketService;

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                Authorizing...
            </Authorizing>
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var cart = await BasketService.GetBasketAsync("mail@mail.ru");
        await ProtectedLocalStore.SetAsync("cart", cart);
    }
}
